@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-offWhite h-screen flex items-center justify-center;
}

.result-text {
  color: var(--off-black, #141414);
  font-family: Poppins;
  font-size: 102px;
  font-style: italic;
  font-weight: 700;
  line-height: 115px; /* 112.745% */
  text-transform: lowercase;
}
